@page
@* @model  *@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/app/index.css"></head>
<body>
<div id="root">
    
</div>
<script src="/app/index.js"></script>
</body>
</html>